<div class="container" style="width: 60%;">
  <div class="row" style="margin: 30px auto;">
    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item" routerLink="" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Home</li>
        <li class="list-group-item" routerLink="about" routerLinkActive="active">About</li>
        <li class="list-group-item" routerLink="productos" routerLinkActive="active">Productos</li>
        <li class="list-group-item" routerLink="servicios" routerLinkActive="active">Servicios</li>
        <li class="list-group-item" routerLink="contact" routerLinkActive="active">Contacto</li>
      </ul>
    </div>
    <div class="col-8 text-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

